*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
  background-color:rgb(3, 10, 34);
  background: linear-gradient(to top, rgb(4, 1, 34) 68%, rgb(7, 4, 39) 75%, rgb(2, 1, 27) 85%, rgba(0,0,0,1) 100%);    

   color:black;
   font-family: 'Montserrat', sans-serif;
    
}


header{
   
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

}

nav{
    background-color: rgb(233, 232, 232);
    height: 4rem;
    box-shadow: 0px 0px 3px black; 
    top:0;

}


.menu__button img{
    background-color: black;
    width: fit-content;
    height: 10rem;    
    border-radius: 50%;
    padding: 0 1.3rem;
    z-index: 0;
    box-shadow: 0px 0px 3px black;
    
}



ul li a{
    display: inline-block;
    margin: 0.5rem 0.5rem;
    font-size: 1em;
    transition: all 0.5s;
    border-radius: 30px;
    line-height: 1em;
}

ul li a:hover{
    background-color: rgb(212, 212, 212);
    color: black;
    text-shadow: 0px 0px 1px rgb(66, 66, 66);
} 

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color:black;
}

ul{
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr) 1.2fr 1fr 0.8fr;
    align-items: flex-start;
  
}

main section h2{
    font-family: 'Poppins', sans-serif;
    color:whitesmoke;
}

.menu__button{
    padding : 1em 1em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    animation: init 1s ease-in 1 normal forwards;
}

main {
    margin:18rem 0 5rem 0 ;
    
    animation: init 0.5s ease-in 1 normal forwards;
}


footer{
    background-color: black;
    color:whitesmoke;
    font-family: 'Montserrat','sans-serif';
    padding: 1rem 5px;
}


footer p {
    width: 30rem ;
    height: 2rem;
    display: inline-block;
    padding: 0px 5px;
    font-size: 60%;
}

footer a i {
float: right;
padding: 1rem 1rem;

}

#descripcionMaquinas h2{
    padding: 20px 2rem;
    background-color: rgb(151, 14, 133);
    background:linear-gradient(0deg, rgba(226,60,194,1) 0%, rgba(233,45,216,1) 25%, rgba(233,14,206,1) 50%, rgba(233,45,216,1) 75%, rgba(226,60,194,1) 100%);
    margin: 5rem 0rem;
    
}

.impresoras{
    background-color: whitesmoke;
    
    margin: 6rem 0rem;
    text-align: left;
   
    height: 30rem;
}

.impresoras h3{
    padding: 3rem 0px;
    display: block;
    text-align: center;
}

.impresoras__contenido{
    display: flex;
    justify-content: space-between;
}

.impresoras__contenido p {
    padding: 2rem;
}
.impresoras__contenido img{
    padding: 2rem;
}

.galeria__contenido {
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(4,1fr) ;
    grid-template-areas:    ". foto1 . " 
                            "foto2 foto3 foto4"
                            "foto5 foto3 foto6"
                            ". foto7 .";
    align-items: center;
    justify-items: center;
    padding: 4rem 0rem
}

#foto1{
    grid-area: foto1;
}
#foto2{
    grid-area: foto2;
}
#foto3{
    grid-area: foto3;
}
#foto4{
    grid-area: foto4;
}
#foto5{
    grid-area: foto5;
}
#foto6{
    grid-area: foto6;
}
#foto7{
    grid-area: foto7;
}
.galeria h2 {
    padding: 20px 2rem;
    background-color: rgb(14, 189, 189);
    margin: 10px 0px;
}

.info h2{

    padding: 20px 2rem;
    background-color: rgb(151, 14, 133);
    margin: 10px 0px;
}

.info p {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    margin: 4rem;
}

.info__contenido{
    display : flex;
}

#contacto h2{
    padding: 20px 2rem;
    background-color: rgb(14, 189, 189);
    margin: 10px 0px;
}

.hojaFormulario{
    background-color: white;
    color:black;
    padding: 2rem 3rem;
    margin: 5rem 0rem;
}


form label{
 padding: 1rem 0.2rem ;
}

form input{
    margin: 1rem 0rem
}
textarea{
    width: 20rem;
    height: 10rem;
    resize: none;
}

#archivo{
    width: 100%;
}

.inicioContacto{
    animation: init 1s linear 1s 1 normal backwards;
}

/*  -------  KEYFRAMES  -------  */

@keyframes init {
    
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes init-nav {
    from{
        transform: translate(0,-200%);
    }
    to{
        transform: translate(0,0);
    }
}


/*  ------   MEDIA QUERIES   --------- */ 

@media screen and (max-width: 470px){
       /* ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        
    }
    nav{
        width: 100%;
        padding:0;
    } */

    footer p{
        width: 100%;
        padding: 0;
    }
    
    .impresoras__contenido p{
        padding: 0;
    }
    .impresoras__contenido img { 
        padding: 0;
    }

    .galeria__contenido{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:  "foto3 foto3"
                              "foto1 foto2"
                              "foto4 foto5" 
                              "foto6 foto7"  ;
        width: 100%;                      
    }
    .galeria__contenido__imagen{
        width: 100%;
    }
}

/*  -------  KEYFRAMES  -------  */

@keyframes init {
    
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes init-nav {
    from{
        transform: translate(0,-200%);
    }
    to{
        transform: translate(0,0);
    }
}



@media screen and (max-width:992px){
   nav{
       height: auto;
       overflow: auto;
   }
   ul{
       display: flex;
       flex-direction: column;
       
   }
}
