*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
  background-color:rgb(3, 10, 34);
  background: linear-gradient(to top, rgb(4, 1, 34) 68%, rgb(7, 4, 39) 75%, rgb(2, 1, 27) 85%, rgba(0,0,0,1) 100%);    

}


header{
   
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

}

/*
#logo{
    padding: 0;
    height: 13rem;
    border-radius: 50%;
    background-color: rgb(233, 232, 232);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    box-shadow: 0px 1px 3px black;
    }
*/
.menu__button img{
    background-color: black;
    width: fit-content;
    height: 10rem;    
    border-radius: 50%;
    padding: 0 1.3rem;
    z-index: 0;
    box-shadow: 0px 0px 3px black;
    

   
}



a{
    text-decoration: none;
    color: black;
}

a:visited{
    color:black;
}


main section h2{
    font-family: 'Poppins', sans-serif;
    color:whitesmoke;
}

.menu__button{
     padding : 1em 1.2em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

main {
    margin:18rem 0 5rem 0 ;
    
}


footer{
    background-color: black;
    color:whitesmoke;
    font-family: 'Montserrat','sans-serif';
    padding:1rem;
}


footer p {
    width: 30rem ;
    height: 2rem;
    display: inline-block;
    padding: 0px 5px;
    font-size: 60%;
}

footer a i {
float: right;
padding: 1rem 1rem;

}

#descripcionMaquinas h2{
    padding: 20px 2rem;
    background-color: rgb(151, 14, 133);
    background:linear-gradient(0deg, rgba(226,60,194,1) 0%, rgba(233,45,216,1) 25%, rgba(233,14,206,1) 50%, rgba(233,45,216,1) 75%, rgba(226,60,194,1) 100%);
    margin: 5rem 0rem;
    
}

.impresoras{
    background-color: whitesmoke;
    
    margin: 6rem 0rem;
    text-align: left;
   
    height: 30rem;
}

.impresoras h3{
    padding: 3rem 0px;
    display: block;
    text-align: center;
}

.impresoras__contenido{
    display: flex;
    justify-content: space-between;
}

.impresoras__contenido p {
    padding: 2rem;
}
.impresoras__contenido img{
    padding: 2rem;
}


.galeria h2 {
    padding: 20px 2rem;
    background-color: rgb(14, 189, 189);
    margin: 10px 0px;
}

.info h2{

    padding: 20px 2rem;
    background-color: rgb(151, 14, 133);
    margin: 10px 0px;
}

.info p {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    margin: 4rem;
}

.info__contenido{
    display : flex;
}

#contacto h2{
    padding: 20px 2rem;
    background-color: rgb(14, 189, 189);
    margin: 10px 0px;
}

main section form{
    background-color: white;
    color:black;
    margin:4rem 0rem;
    padding: 4rem 3rem;
}

form label{
 padding: 1rem 0.2rem ;
}

form input{
    margin: 1rem 0rem
}
textarea{
    width: 20rem;
    height: 10rem;
    resize: none;
}


.img-carr{
    height: 20rem;
    object-fit: cover;
}

@media screen and (max-width: 470px){
       ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        
    }
    nav{
        width: 100%;
        padding:0;
    }
    footer p{
        width: 100%;
        padding: 0;
    }
    
    .impresoras__contenido p{
        padding: 0;
    }
    .impresoras__contenido img { 
        padding: 0;
    }

}

@media screen and (max-width:780px){
    ul{
        display: flex;
        flex-wrap: wrap;
    }
}
