* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

.bodyIndex {
  background-color: #000;
  color: whitesmoke;
  z-index: -1;
  font-family: 'Montserrat', sans-serif; }

.stars {
  animation: init 0.5s linear 1 normal forwards;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: repeat;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0; }

.mainIndex {
  background: linear-gradient(to top, #060236 68%, #070427 75%, #02011b 85%, black 100%);
  padding-top: 20px; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }

.navIndex {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  height: 1.5rem; }

.ulIndex {
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.2fr 1fr 0.8fr;
  align-items: flex-start; }
  .ulIndex li a:hover {
    background-color: white;
    color: #000; }
  .ulIndex li a {
    transition: all 0.3s linear; }

a {
  text-decoration: none;
  color: whitesmoke; }
  a:visited {
    color: whitesmoke; }

.menu__button img {
  background-color: black;
  width: fit-content;
  height: 10rem;
  border-radius: 50%;
  padding: 0 1.8rem;
  box-shadow: 0px 0px 30px 5px #dbcba9;
  z-index: 0;
  opacity: 1;
  animation: init 0.5s linear 1 normal forwards; }

.menu__button {
  padding: 0.5em 1.2em;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 40px; }

#menu__button-0 {
  animation: init 3s linear 1 normal forwards; }

#menu__button-1 {
  animation: init 2s linear 1 normal forwards; }

#menu__button-2 {
  animation: init 1s linear 1 normal forwards; }

#menu__button-3 {
  animation: init 1s linear 1 normal forwards; }

#menu__button-4 {
  animation: init 2s linear 1 normal forwards; }

.hero__contenido {
  position: relative;
  top: 25rem;
  opacity: 0;
  animation: init 1s ease-in 1 normal forwards;
  font-family: 'Montserrat', sans-serif;
  animation-delay: 0.5s;
  line-height: 2em;
  z-index: 1; }

.hero {
  height: 765px;
  text-align: center;
  background-image: url(../images/bosque_fondo.png);
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  z-index: -1; }
  .hero a {
    top: 26rem;
    color: whitesmoke;
    font-size: 1.5rem;
    border: solid whitesmoke 2px;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 10px;
    transition: all 0.5s; }
  .hero a:hover {
    background-color: whitesmoke;
    color: #000; }

.muestraHero {
  background: black;
  padding: 10rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center; }
  .muestraHero p {
    background-color: whitesmoke;
    color: #000;
    font-family: 'Montserrat','sans-serif';
    display: inline-block;
    overflow: hidden;
    text-align: center; }

#circulo1 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative; }
  #circulo1 img {
    grid-column: 3 / 5; }
  #circulo1::after {
    content: '';
    position: absolute;
    grid-column: 4/ 8;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-top: 4rem;
    background-color: white; }
  #circulo1::before {
    content: '';
    position: absolute;
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    transform: rotate(-37deg);
    height: 150px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-top: 16rem;
    background-color: white; }

#circulo2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row: 1fr;
  position: relative;
  z-index: 20; }
  #circulo2 p {
    grid-column: 4 / 6; }
  #circulo2::after {
    content: '';
    position: absolute;
    grid-column: 1 / 5;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-top: 1.5rem;
    background-color: white; }

#circulo3 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  z-index: 15; }
  #circulo3 img {
    grid-column: 3 / 5;
    grid-row: 2 / 3; }
  #circulo3::after {
    content: '';
    position: absolute;
    grid-column: 4/ 8;
    grid-row: 2 / 3;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-top: 4rem;
    background-color: white; }
  #circulo3::before {
    content: '';
    position: absolute;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    height: 150px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -5;
    margin-top: 17.8rem;
    transform: rotate(45deg);
    background-color: white; }

.show__circulo {
  z-index: 20; }
  .show__circulo img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: solid whitesmoke 3px; }
  .show__circulo p {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%; }

footer {
  background-color: #000;
  color: whitesmoke;
  font-family: 'Montserrat','sans-serif';
  padding: 1.5rem 5px;
  border-top: solid whitesmoke 1px; }
  footer p {
    width: 60%;
    display: inline-block;
    padding: 0px 5px;
    font-size: 0.6rem;
    height: 2rem;
    margin: 0;
    margin-top: 15px; }
  footer a svg {
    width: 25px;
    height: 25px;
    filter: invert(100);
    float: right;
    padding: 1rem 1rem; }

.bodyPages {
  background-color: #030a22;
  background: linear-gradient(90deg, #000040 0%, #000030 25%, #000020 51%, #000030 75%, #000040 100%);
  color: black;
  font-family: 'Montserrat', sans-serif; }

.aPages {
  text-decoration: none;
  color: black; }

.aPages:visited {
  color: black; }

.mainPages {
  margin: 18rem 0 5rem 0;
  animation: init 0.5s ease-in 1 normal forwards; }

.mainPages section h2 {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke; }

.navPages {
  background-color: #e9e8e8;
  height: 4rem;
  box-shadow: 0px 0px 3px #000;
  top: 0; }
  .navPages ul li a {
    display: inline-block;
    margin: 0.5rem 0.5rem;
    font-size: 1em;
    transition: all 0.5s;
    border-radius: 30px;
    line-height: 1em; }
  .navPages ul li a:hover {
    background-color: #d4d4d4;
    color: #000;
    text-shadow: 0px 0px 1px #424242; }
  .navPages ul {
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.2fr 1fr 0.8fr;
    align-items: flex-start; }

.menu__button-pages {
  padding: 1em 1em;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  animation: init 1s ease-in 1 normal forwards; }

.menu__button-pages img {
  background-color: black;
  width: fit-content;
  height: 10rem;
  border-radius: 50%;
  padding: 0 1.8rem;
  z-index: 0;
  opacity: 1; }

.impresoras {
  background-color: whitesmoke;
  margin: 6rem 0rem;
  text-align: left;
  height: 30rem; }
  .impresoras h3 {
    padding: 3rem 0px;
    display: block;
    text-align: center; }

#descripcionMaquinas h2 {
  padding: 20px 2rem;
  background-color: #970e85;
  background: linear-gradient(0deg, #e23cc2 0%, #e92dd8 25%, #e90ece 50%, #e92dd8 75%, #e23cc2 100%);
  margin: 5rem 0rem; }

.impresoras__contenido {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center; }
  .impresoras__contenido p {
    padding: 2rem; }
  .impresoras__contenido img {
    padding: 2rem;
    height: 300px;
    width: 300px; }

.info p {
  background-color: white;
  color: black;
  display: inline-block;
  padding: 2rem;
  text-align: center;
  margin: 4rem; }

.info h2 {
  padding: 20px 2rem;
  background: linear-gradient(0deg, #e23cc2 0%, #e92dd8 25%, #e90ece 50%, #e92dd8 75%, #e23cc2 100%);
  margin: 10px 0px; }

.info__contenido {
  margin: 80px 40px;
  display: flex;
  align-items: stretch; }

#contacto h2 {
  padding: 20px 2rem;
  background-color: #0ebdbd;
  margin: 10px 0px; }

.hojaFormulario {
  background-color: white;
  color: black;
  padding: 2rem 3rem;
  margin: 5rem 0rem; }

form input {
  margin: 1rem 0rem; }

textarea {
  width: 20rem;
  height: 10rem;
  resize: none; }

#archivo {
  width: 100%; }

.inicioContacto {
  animation: init 1s linear 1s 1 normal backwards; }

.size-normal {
  height: 2rem; }

.fijar-alto {
  height: 300px;
  width: 300px; }

.fijar-alto img {
  object-fit: contain;
  height: 300px; }

.galeria__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: ". foto1 . "  "foto2 foto3 foto4" "foto5 foto3 foto6" ". foto7 .";
  align-items: center;
  justify-items: center;
  padding: 4rem 0rem;
  grid-gap: 20px; }

.galeria__contenido__imagen {
  width: 300px;
  height: 300px;
  border: solid white;
  border-radius: 50%; }

.galeria h2 {
  padding: 20px 2rem;
  background-color: #0ebdbd;
  margin: 10px 0px; }

#foto1 {
  grid-area: foto1; }

#foto2 {
  grid-area: foto2;
  border: solid white; }

#foto3 {
  width: 240px;
  height: 380px;
  border: solid white;
  grid-area: foto3; }

#foto4 {
  grid-area: foto4; }

#foto5 {
  grid-area: foto5; }

#foto6 {
  grid-area: foto6; }

#foto7 {
  grid-area: foto7; }

/*  -------  KEYFRAMES  -------  */
@keyframes init {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes init-nav {
  from {
    transform: translate(0, -200%); }
  to {
    transform: translate(0, 0); } }

/* ------ MEDIA QUERIES ------*/
@media screen and (max-width: 768px) {
  .ulIndex {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 225px;
    width: 100%;
    justify-items: center; }
  #logo {
    grid-column: 2 / 5;
    grid-row: 1 / 6; }
  #menu__button-0 {
    grid-column: 1 / 2; }
  #menu__button-2 {
    grid-column: 1 / 2; }
  #menu__button-4 {
    grid-column: 1 / 2; }
  #menu__button-3 {
    grid-column: 1 / 2;
    position: relative; }
  #menu__button-1 {
    grid-column: 1 / 2;
    position: relative; }
  .navIndex {
    height: 12rem; }
  .galeria__contenido__imagen {
    width: 250px;
    height: 250px; }
  .menu__button {
    width: 60px;
    height: 15px; }
  #circulo3::before {
    transform: rotate(52deg);
    height: 100px;
    width: 200px; }
  #circulo1::before {
    transform: rotate(-55deg);
    height: 100px;
    width: 200px; }
  .impresoras {
    margin: 100px 0; }
  .impresoras__contenido {
    justify-content: space-around; }
    .impresoras__contenido p {
      width: auto;
      height: auto; }
    .impresoras__contenido img {
      width: 180px;
      height: 180px; }
  footer {
    height: 5em; }
  #circulo1 {
    transform: scale(0.75); }
  #circulo3 {
    transform: scale(0.75); }
  nav {
    width: 100%;
    padding: 0; }
  footer p {
    width: 100%;
    padding: 0; } }

@media screen and (max-width: 425px) {
  .galeria__contenido__imagen {
    width: 180px;
    height: 180px; }
  .ulIndex {
    justify-items: normal; }
  #circulo3::before {
    transform: rotate(65deg);
    width: 200px; }
  footer {
    height: 8em; } }

@media screen and (max-width: 375px) {
  .galeria__contenido__imagen {
    width: 140px;
    height: 140px; }
  .ulIndex {
    padding: 0;
    width: 100%; }
  .navIndex {
    width: 100%; }
  #circulo1 img {
    transform: none;
    width: 250px;
    height: 250px; }
  #circulo3 img {
    transform: none;
    width: 250px;
    height: 250px; }
  .info p {
    width: 100%;
    padding: 2rem 0;
    margin: 4rem 0; }
  .impresoras__contenido {
    flex-direction: column;
    width: 100%; }
  #circulo1::after {
    margin-top: 2rem; }
  #circulo3::after {
    margin-top: 2rem; }
  #circulo2::after {
    margin-top: 4rem; }
  #circulo2 p {
    transform: scale(0.7); }
  #circulo1::before {
    transform: rotate(-70deg); } }

@media screen and (max-width: 992px) {
  .navPages {
    height: auto;
    overflow: auto; }
  .navPages ul {
    display: flex;
    flex-direction: column; }
  .galeria__contenido {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "foto3 foto3" "foto1 foto2" "foto4 foto5" "foto6 foto7"; }
  #foto1 {
    grid-area: foto1; }
  #foto2 {
    grid-area: foto2; }
  #foto3 {
    grid-area: foto3; }
  #foto4 {
    grid-area: foto4; }
  #foto5 {
    grid-area: foto5; }
  #foto6 {
    grid-area: foto6; }
  #foto7 {
    grid-area: foto7; }
  .info__contenido {
    flex-direction: column; }
  .impresoras {
    height: auto; }
  .impresoras__contenido {
    padding: 20px 0px;
    height: auto;
    width: 100%; } }
