

*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    
}

.bodyIndex{
   background-color: $negro;
   color:$blanco;
  z-index: -1;
  font-family: 'Montserrat', sans-serif;
}

.mainIndex:before{
  
  content: '';
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:100%;
  height:100%;
  display:block;
  background-position: center;
  background-repeat: repeat;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  animation: moverEstrellas 120s linear infinite normal forwards;
}
.mainIndex::after{
  top:100%;
  content: '';
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background-position: center;
  background-repeat: repeat;
  border-radius: 50px;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  animation: moverEstrellas 120s linear infinite normal forwards;
}

// .stars {
//   animation: init 0.5s linear 1 normal forwards;
//   top:0;
//   left:0;
//   right:0;
//   bottom:0;
//   width:100%;
//   height:100%;
//   display:block;
//   background-position: center;
//   background-repeat: repeat;
//   background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
//   z-index:0;
  
// }

.mainIndex{
background: map-get($colores, color3 );
padding-top:20px ;
}