.bodyPages {
    background-color:rgb(3, 10, 34);
    background: map-get($colores, color4 ) ;
    height: auto;
    color:white;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        left:50%;
        right:0;
        bottom:50%;
        top:0;
        width:500px;
        height: 500px;
        
        background-position: center;
        background-repeat: repeat;
        background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center,
                    linear-gradient( 90deg , red, blue );
        border-radius: 50%;
        z-index:0;
        animation: rotarEstrellas 120s linear infinite normal forwards;
    }

}

@each $pagina,$altura in $alturas {
    .bodyPages-#{$pagina}{
        @extend .bodyPages;
        height: $altura;
    }
}


// .bodyPages::before{
//     content: '';
//     position: absolute;
//     left:0;
//     right:0;
//     bottom:0;
//     top:0;
//     width:100%;
//     height: inherit;
//     display:block;
//     background-position: center;
//     background-repeat: repeat;
//     background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
//     z-index:0;
//     grid-column: 1 / 2;
//     grid-row: 1 / 2;
//     //  animation: moverEstrellas 120s linear infinite normal forwards;
    
// }
.aPages{
    text-decoration: none;
    color: white;
}

.aPages:visited{
    color:white;
}

.mainPages {
    padding:18rem 0 5rem 0 ;
    animation: init 0.5s ease-in 1 normal forwards;
    position: relative;
    z-index: 1000;
    // background-position: center;
    // background-repeat: repeat;
    // background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

.mainPages section h2{
    font-family: 'Poppins', sans-serif;
    color:whitesmoke;
}
