.bodyPages {
    background-color:rgb(3, 10, 34);
    background: map-get($colores, color4 ) ;
    height: auto;
    color:white;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: relative;
}


@each $pagina,$altura in $alturas {
    .bodyPages-#{$pagina}{
        @extend .bodyPages;
        height: $altura;
    }
}

.aPages{
    text-decoration: none;
    color: white;
}

.aPages:visited{
    color:white;
}

.mainPages {
    padding:18rem 0 5rem 0 ;
    animation: init 0.5s ease-in 1 normal forwards;
    position: relative;
    z-index: 1000;
    section h2{
        font-family: 'Poppins', sans-serif;
        color:whitesmoke;
    }

}

.stars-content{
    width: 100%;
    height: inherit;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    &::before{
        content: '';
        position: absolute;
        left:-1200px;
        bottom:-1200px;
        top:-800px;
        right:0;
        
        height: 4000px;
        width: 4000px;
        display:block;
        border-radius: 50%;
        background-position: center;
        background-repeat: repeat;
        background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center,
                    radial-gradient(rgb(7, 0, 44) ,rgb(46, 22, 112));
        z-index:0;
        animation: rotarEstrellas 1000s linear infinite normal forwards;
    }
}

.subtitulos-fuente{
    font-size: 2.5rem;
    font-weight: 600;
}

.titulos3-fuente{
    font-size: 2rem;
    font-weight: 500;
    
}
