

*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    
}

.bodyIndex{
   background-color: $negro;
   color:$blanco;
  z-index: -1;
  font-family: 'Montserrat', sans-serif;
}


.mainIndex{
background: black;
padding-top:20px ;
}