.bodyPages{
  background-color:rgb(3, 10, 34);
  background: map-get($colores, color4 ) ;   
   color:black;
   font-family: 'Montserrat', sans-serif;
    
}

.aPages{
    text-decoration: none;
    color: black;
}

.aPages:visited{
    color:black;
}

.mainPages {
    margin:18rem 0 5rem 0 ;
    animation: init 0.5s ease-in 1 normal forwards;
}

.mainPages section h2{
    font-family: 'Poppins', sans-serif;
    color:whitesmoke;
}
