footer{

    background-color: $negro;
    color:$blanco;
    font-family: 'Montserrat','sans-serif';
    padding: 1.5rem 5px;
    border-top:solid $blanco 1px;

    p{
        width: 30rem ;
        display: inline-block;
        padding: 0px 5px;
        font-size: 60%;
        height: 2rem;
    }
    a i{
        float: right;
        padding: 1rem 1rem;
    }
}