footer{

    background-color: $negro;
    color:$blanco;
    font-family: 'Montserrat','sans-serif';
    padding: 1.5rem 5px;
    border-top:solid $blanco 1px;
    position:relative;
    z-index: 1000;

    p{
        width: 60% ;
        display: inline-block;
        padding: 0px 5px;
        font-size: 0.6rem;
        height: 2rem;
        margin: 0;
        margin-top:15px;
    }
    a svg{
    width: 25px;
    height: 25px;
    
    filter:invert(100);
    float: right;
    padding: 1rem 1rem;

    }
}

@each $pagina, $margen in $margenes-footer{
    .footer-#{$pagina}{
        margin-top: $margen;
    }
}

