.galeria__contenido {
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(4,1fr) ;
    grid-template-areas:    ". foto1 . " 
                            "foto2 foto3 foto4"
                            "foto5 foto3 foto6"
                            ". foto7 .";
    align-items: center;
    justify-items: center;
    padding: 4rem 0rem;

    
}

.galeria h2 {
    padding: 20px 2rem;
    background-color: rgb(14, 189, 189);
    margin: 10px 0px;
}


#foto1{
    grid-area: foto1;
}
#foto2{
    grid-area: foto2;
}
#foto3{
    grid-area: foto3;
}
#foto4{
    grid-area: foto4;
}
#foto5{
    grid-area: foto5;
}
#foto6{
    grid-area: foto6;
}
#foto7{
    grid-area: foto7;
}