
$negro:#000;
$blanco:rgb(245,245,245);
header{
   
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
  
}

.navIndex{
    background-color: rgba(0, 0, 0, 0.5);   
    padding: 1rem 0rem;
    height: 1.5rem;
    backdrop-filter:blur(2px);
}

.ulIndex{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items:flex-start;
    li a:hover{
        background-color: white;
        color:$negro;
    }
   
    li a{
    transition: all 0.3s linear;
}
}

a{
    text-decoration: none;
    color: $blanco;
    &:visited{
        color:$blanco;
    }
}

.menu__button{

    padding : 0.5em 1.2em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    margin: 0px 10px;
    animation: init 1s linear 1 normal forwards;
}


