
$negro:#000;
$blanco:rgb(245,245,245);
header{
   
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  
}

.navIndex{
    background-color: rgba(0, 0, 0, 0.5);   
    padding: 1rem;
    height: 1.5rem;
}

.ulIndex{
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr) 1.2fr 1fr 0.8fr;
    align-items:flex-start;
    li a:hover{
        background-color: white;
        color:$negro;
    }
   
    li a{
    transition: all 0.3s linear;
}
}

a{
    text-decoration: none;
    color: $blanco;
    &:visited{
        color:$blanco;
    }
}

.menu__button img{
    background-color: black;
    width: fit-content;
    height: 10rem;    
    border-radius: 50%;
    padding: 0 1.8rem;
    box-shadow: 0px 0px 30px 5px rgb(219, 203, 169);
    z-index: 0;
    opacity: 1;
    animation: init 0.5s linear 1 normal forwards;
    
    
}

.menu__button{

    padding : 0.5em 1.2em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 40px;
    
}

#menu__button-0{
    
    animation: init 3s linear 1 normal forwards;
}

#menu__button-1{
    
    animation: init 2s linear 1 normal forwards;
}
#menu__button-2{
   
    animation: init 1s linear 1 normal forwards;
}
#menu__button-3{
    
    
    animation: init 1s linear 1 normal forwards;
}

#menu__button-4{
    animation: init 2s linear 1 normal forwards;
    
}
