.hero__contenido{
  position: relative;  
  top: 25rem;
  opacity: 0;
  animation: init 1s ease-in 1 normal forwards;
  font-family: 'Montserrat', sans-serif;
  animation-delay: 0.5s;
  line-height: 2em;
  z-index: 1000;
}


.hero{
    
    height: 765px;
    text-align: center;
    background-image: url(../images/bosque_fondo.png);
    font-family: 'Montserrat', sans-serif;
    background-size:cover;
    background-attachment: scroll;
    background-position: center;
    z-index: 1000;
    position: relative;
    a{
    top: 26rem;
    color: $blanco;
    font-size: 1.5rem;
    border: solid $blanco 2px;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 10px;
    transition: all 0.5s;
    scroll-behavior: smooth;

    }
    a:hover{
        background-color: $blanco;
        color: $negro;
    }

}

.btn-none{
    background: transparent;
    border:none;
}

.muestraHero{
    background:  rgb(0, 0, 0);
    padding:10rem 0rem;
    display: grid;
    position: relative;
    z-index: 1000;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;

    p{
    background-color: $blanco;
    color: $negro;
    font-family: 'Montserrat','sans-serif';
    display: inline-block;
    overflow: hidden;
    text-align: center;
    }
}
    
#circulo1{
    // grid-area: circulo1;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr) ;
    position: relative;
    img {
    grid-column: 3 / 5;
    }

    &::after{
    content: '';
    position:absolute;
    // grid-area: block1;
    grid-column: 4/ 8;
    height: 200px;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
    margin-top: 55px;
    background-color: white;
    }

    &::before{
        content: '';
    position:absolute;
    // grid-area: block1;
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    transform: rotate(-37deg);
    height: 150px;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
    margin-top: 16rem;
    background-color: white;
    }
}


#circulo2{
  //  grid-area: circulo2;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-row: 1fr;
    position: relative;
    z-index: 20;

    p{
    grid-column: 4 / 6;
    }

    &::after{
    content: '';
    position:absolute;
    // grid-area: block1;
    grid-column: 1 / 5;
    height: 200px;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
    margin-top: 55px;
    background-color: white;
    }
}



#circulo3{
   // grid-area:circulo3;
   grid-column: 2 / 4 ;
   grid-row: 2 / 4 ;
   display:grid;
   grid-template-columns: repeat(7,1fr);
   grid-template-rows: repeat(2,1fr);
   position: relative;
   z-index: 15;
   img{
    grid-column: 3 / 5;
    grid-row:2 / 3;
   }
   &::after{
    content: '';
    position:absolute;
    // grid-area: block1;
    grid-column: 4/ 8;
    grid-row:2 / 3;
    height: 200px;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
    margin-top: 55px;
    background-color: white;
   }
   &::before{
    content: '';
    position:absolute;
    // grid-area: block1;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    height: 150px;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -5;
    margin-top: 17.8rem;
    transform: rotate(45deg);
    background-color: white;
   }
}



.show__circulo{
    z-index: 20;
    
   img{
       
        width: 300px;
        height: 300px;

        border-radius:50% ;
        border:solid $blanco 3px;
   }
   p{   
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        border-radius:50% ;
   }

}

