.impresoras{
    background-color: whitesmoke;
    
    margin: 6rem 0rem;
    text-align: left;
   
    height: 30rem;

    h3{
        padding: 3rem 0px;
        display: block;
        text-align: center;
    }

}

#descripcionMaquinas h2{
    padding: 20px 2rem;
    background-color: rgb(151, 14, 133);
    background:linear-gradient(0deg, rgba(226,60,194,1) 0%, rgba(233,45,216,1) 25%, rgba(233,14,206,1) 50%, rgba(233,45,216,1) 75%, rgba(226,60,194,1) 100%);
    margin: 5rem 0rem;
    
}

.impresoras__contenido{
    display: flex;
    justify-content: space-between;

    p {
        padding: 2rem;
    }

    img{
        padding: 2rem;
    }

}