.impresoras{

    
    margin: 6rem 0rem;
    text-align: left;
   
    height: 30rem;

    h3{
        padding: 3rem 0px;
        display: block;
        text-align: center;
    }

}

#descripcionMaquinas h2{
    padding: 20px 2rem;
    background-color: rgb(151, 14, 133);
    background: map-get($colores ,color2 );
    margin: 5rem 0rem;
    
}

.impresoras__contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        padding: 2rem;
        color:black;
        margin: 10px;
    }
 
    img{
        padding: 2rem;
        height: 300px;
        width: 300px;
        border-radius: 40px;
    }

}
.btn-null{
    border:none;
    background: transparent;
}