.info{

    p {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    margin: 4rem;
    }

    h2{

    padding: 20px 2rem;
    background-color: rgb(151, 14, 133);
    margin: 10px 0px;
    }
}

.info__contenido{
    display : flex;
}

#contacto h2{
    padding: 20px 2rem;
    background-color: rgb(14, 189, 189);
    margin: 10px 0px;
}

.hojaFormulario{
    background-color: white;
    color:black;
    padding: 2rem 3rem;
    margin: 5rem 0rem;
}


form input{
    margin: 1rem 0rem;
}

textarea{
    width: 20rem;
    height: 10rem;
    resize: none;
}

#archivo{
    width: 100%;
}

.inicioContacto{
    animation: init 1s linear 1s 1 normal backwards;
}

.size-normal{
    height: 2rem;
}