.info{
    position: relative;
    z-index: 1000;
    p {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    margin: 4rem;
    }

    h2{

    padding: 20px 2rem;
    background: map-get($colores, color2 );
    margin: 10px 0px;
    }
}

.info__contenido{
    margin: 80px 40px;
    display : flex;
    align-items: stretch;
}

#contacto h2{
    padding: 20px 2rem;
    background-color: map-get($colores, color1 );
    margin: 10px 0px;
}

.hojaFormulario{
    background-color: white;
    color:black;
    padding: 2rem 3rem;
    margin: 5rem 0rem;
}


form input{
    margin: 1rem 0rem;
}

textarea{
    width: 20rem;
    height: 10rem;
    resize: none;
}

#archivo{
    width: 100%;
}

.inicioContacto{
    animation: init 1s linear 0.5s 1 normal backwards;
}

.fijar-alto{
    height: 300px;
    width: 300px;
    
}

.fijar-alto img{
    object-fit:contain;
    height: 300px;
}

#floatingInput1 ,#floatingInput2, #floatingInput3 {
    height: 1rem;
    width: 50%;
    padding:25px 25px 10px 25px;
}

.btn-contacto{
    border:none;
    background-color: map-get($colores, color1 );
    color: white;
}
.btn-contacto:hover{
    background-color: map-get($colores, color1 );
    filter: contrast(90%);
}