/*  -------  KEYFRAMES  -------  */

@keyframes init {
    
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes init-nav {
    from{
        transform: translate(0,-200%);
    }
    to{
        transform: translate(0,0);
    }
}

@keyframes moverEstrellas{
    from{
        transform: translateY(0%);
        // transform: rotate(0deg);
    }
    to{
        transform: translateY(-100%);
        
    }
}

@keyframes rotarEstrellas{
    
    from{
        rotate: 0deg;
    }
    to{
        rotate:360deg;
    }
}
