/*  -------  KEYFRAMES  -------  */

@keyframes init {
    
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes init-nav {
    from{
        transform: translate(0,-200%);
    }
    to{
        transform: translate(0,0);
    }
}

