/*  -------  KEYFRAMES  -------  */

@keyframes init {
    
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes moverEstrellas{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
        
    }
}

@keyframes rotarEstrellas{
    
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}
