/* ------ MEDIA QUERIES ------*/



@media screen and (max-width:470px) {
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        
    }
    
    #circulo1{
        transform: scale(0.75);
    }

    #circulo3{
        transform: scale(0.75);
    }

    nav{
        width: 100%;
        padding:0;
    }
    footer p{
        width: 100%;
        padding: 0;
    }
    

}


@media screen and (max-width:780px){
    .ulIndex{
        display: flex;
        flex-wrap: wrap;
    }
    .menu__button img{
        float: right;
    }
    .navIndex{
     height:3rem;
    }
}

@media screen and (max-width:992px){
   .navPages{
       height: auto;
       overflow: auto;
   }
   .navPages ul{
       display: flex;
       flex-direction: column;
       
   }

    .info__contenido{
    flex-direction: column;
    }
}
