/* ------ MEDIA QUERIES ------*/




@media screen and (max-width:768px){
    
    .navIndex {
        flex-direction: column;
        align-items: flex-start;
    };
    .ulIndex{
        
        align-items: center;
        width: 100%;
        flex-direction: column;
        
    }
   
    #logo{
        grid-column: 2 / 5;
        grid-row: 1 / 6;
        
    }

    #menu__button-0{
        grid-column: 1 / 2;
    }

    #menu__button-2{
        grid-column: 1 / 2;
  
    }
    #menu__button-4{
        grid-column: 1 / 2;
        
    }
    #menu__button-3{
        grid-column: 1 / 2;
      
        position: relative;
    }
    #menu__button-1{
        grid-column: 1 / 2;
        
        position: relative;
    }

      .galeria__contenido__imagen{
        width: 250px;
        height: 250px;
        div img{
            width: 250px;
            height: 250px;
        }
    }
       .menu__button{
        width: 60px;
        height: 15px;
        
    }
    #circulo3::before{
        transform: rotate(52deg);
        height: 100px;
        width: 200px;
    }

    #circulo1::before{
        transform: rotate(-55deg);
        height: 100px;
        width: 200px;
    }

    .impresoras{
        margin: 100px 0;
    }
    .impresoras__contenido{
        justify-content: space-around;
        
        p{
            width: auto;
            height: auto;
        }
        img{
            width: 180px;
            height: 180px;
        }
    }
    footer{
        height: 5em;
    }

    #circulo1{
        transform: scale(0.75);
    }

    #circulo3{
        transform: scale(0.75);
    }

    nav{
        width: 100%;
        padding:0;
    }
    footer p{
        width: 100%;
        padding: 0;
    }
    .bodyPages-descripcion{
        height: 1400px;
    }
    .bodyPages-proyectos{
        height: 2350px;
    }
    .bodyPages-impresoras{
        height: 2380px;
    }

}



@media screen and (max-width:425px){
.galeria__contenido__imagen{
        width: 180px;
        height: 180px;
        div img{
            width: 180px;
            height: 180px;
        }
    }
    .ulIndex{
        justify-items: normal;
        
    }
    #circulo3::before{
        transform: rotate(65deg);
        width:200px;
    }
    
    footer{
        height: 8em;
    }
    .impresoras__contenido{
        flex-direction: column;
    }

    .bodyPages-proyectos{
        height: 2400px;
    }
    .bodyPages-descripcion{
        height: 1800px;
    }
    .bodyPages-impresoras{
        height: 3200px;
    }
    .stars-content::before{
        left: -1500px;
    }
    .hero{
        flex-direction: column;
        padding-top: 50px;
        div{
            width: 100%;
        }
    }
}

@media screen and (max-width:375px){

    .galeria__contenido__imagen{
        width: 95%;
        height: 200px;
        border-radius: 0px;
        div img{
            height: 200px;
        }
    }

    .ulIndex{
        padding: 0;
        width: 100%;
    }
    .navIndex{
        width: 100%;
    }
    #circulo1 {
        img {
            transform: none;
            width: 250px;
            height: 250px;
        }
        &::after{
            margin-top:2rem;
        }
    }
    #circulo3 {
        img{
             transform: none;
            width: 250px;
            height: 250px;
        }
        &::after{
            margin-top: 2rem;
        }
    }
    .info p {
        width: 100%;
        padding: 2rem 0;
        margin: 4rem 0;
    }
    .impresoras__contenido {
        flex-direction: column;
        width: 100%;;
    }


    #circulo2::after{
        margin-top: 65px;
        height: 180px;
    }

    #circulo2 p{
        transform: scale(0.7);
    }

    #circulo1::before{
        transform: rotate(-70deg);
    }
    #circulo3::before{
        display: none;
    }

    .bodyPages-descripcion{
        height: 1500px;
    }
    .galeria__contenido{
        grid-gap: 0px;
        width: 100%;
    }
    .bodyPages-proyectos{
        height: 2300px;
    }
    .bodyPages-impresoras{
        height: 3300px;
    }
    .stars-content::before{
        left: -1500px;
       
        top: -400px
    }
}


@media screen and (max-width:992px){
   .navPages{
       height: auto;
       overflow: auto;
       align-items: center;
   }
   .navPages ul{
       display: flex;
       flex-direction: column;
       
   }

   .galeria__contenido{
       width: 100%;
       grid-template-columns:repeat(2,1fr) ;
       grid-template-rows: repeat(4,1fr)  ;
       grid-template-areas: "foto3 foto3"
                            "foto1 foto2"
                            "foto4 foto5"
                            "foto6 foto7";
   }
   #foto1{
        grid-area: foto1;
   }
   #foto2{
        grid-area: foto2;
   }
   #foto3{
        grid-area: foto3;
   }
   #foto4{
        grid-area:foto4;
   }
   #foto5{
        grid-area:foto5;
   }
   #foto6{
        grid-area:foto6;
   }
   #foto7{
        grid-area:foto7;
   }
    .info__contenido{
    flex-direction: column;
    }
    .impresoras{
        height: auto;
    }
    .impresoras__contenido{
        padding: 20px 0px;
         height: auto;
         width: 100%;
    }
}

@media screen and (max-width:320px){
    .bodyPages-impresoras{
        height: 3600px;
    }
    .bodyPages-proyectos{
        height: 3400px;
    }

    .stars-content::before{
        height: 5000px;
        width: 5000px;
    }

    .galeria__contenido{
        height: max-content;
        grid-template-areas:    "foto3"
                                "foto1"
                                "foto2"
                                "foto4"
                                "foto5"
                                "foto6"
                                "foto7";
        grid-template-rows: repeat(7,1fr);
        grid-template-columns: 1fr;
        div div img{
            width: 200px;
            height: 200px;
        }

    }
}