.navPages{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter:blur(2px);
    height: 3.5rem;
    box-shadow: 0px 0px 3px $negro; 
    top:0;
    position: relative;
    z-index: 1500;
    ul li a{
         display: inline-block;
    margin: 0.5rem 0.5rem;
    font-size: 1em;
    transition: all 0.5s;
    border-radius: 30px;
    line-height: 1em;
    }

    ul li a:hover{
        background-color: white;
        color: $negro;
        text-shadow: 0px 0px 1px rgb(66, 66, 66);
    }

    ul{
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr) 1.2fr 1fr 0.8fr;
    align-items: flex-start;
    }
}


.menu__button-pages{
    padding : 0.7em 1em;

    font-family: 'Montserrat', sans-serif;
    color: $blanco;
    animation: init 1s ease-in 1 normal forwards;
}

.menu__button-pages img{
   background-color: black;
   border: solid 1px white;
    width: fit-content;
    height: 10rem;    
    border-radius: 50%;
    padding: 0 1.8rem;
    z-index: 0;
    opacity: 1;
}

.boton-nav{
    background-color: transparent;
    height: 50px;
    filter: invert(1);
}