
@import "body"; 
@import "header";
@import "hero";
@import "footer";
@import "bodyPages";
@import "navPages";
@import "impresoras";
@import "infoContacto";
@import "galeria";
@import "keyframes";
@import "mediaqueries";

$negro:#000;
$blanco:rgb(245,245,245);








